
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
public/images/livres/02548788-4bc5-4383-8a97-cca76c8f2bc6-64da343412f82715137504.jpg
public/images/livres/cyril-64da338cbe019832148163.jpg
public/images/livres/zen-64da237fb3575999043716.jpg
